<div id="room-id-<%= f.id %>" class="col-sm-4">
  <%= link_to new_room_booking_path(f, begin_time: @find_rooms.begin_time, for_hours: @find_rooms.for_hours, for_minutes: @find_rooms.for_minutes), remote: true, class: 'complex-link', 'show-target': '#room-loading-bar' do %>
    <div class="well well-sm selectable">
      <b class="spaced-row"><%= f.name %></b><br>
      <p>Description: <%= f.description %></p>
      <p>Capacity: <%= f.capacity %></p>
    </div>
  <% end %>
</div>