<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">User Registration</h4>
</div>

<%= form_for @user, remote: true do |f| %>
  <div class="modal-body">
    <div>
      <%= render 'error_message', f: @user, ff: :email %>
      <div class="input-group">
        <%= f.text_field :email, class: 'form-control', placeholder: 'firstname.lastname', 'aria-describedby': 'addon-at' %>
        <span class="input-group-addon" id="addon-at">@</span>

        <% if @user.errors[:email].present? %>
          <div class="field_with_errors">
        <% end %>

        <%= f.text_field :domain, class: 'form-control', placeholder: 'domain.ac.uk', 'aria-describedby': 'addon-at' %>

        <% if @user.errors[:email].present? %>
          </div>
        <% end %>
      </div>
    </div><br>

    <div>
      <%= render 'error_message', f: @user, ff: :password %>
      <%= f.password_field :password, class: 'form-control', placeholder: 'password' %>
    </div><br>

    <div>
      <%= render 'error_message', f: @user, ff: :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'password confirmation' %>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-lg-6">
        <%= f.submit 'Create', class: 'btn btn-primary max-width' %>
      </div>

      <div class="col-lg-6">
        <%= f.submit 'Cancel', class: 'btn btn-primary max-width' %>
      </div>
    </div>
  </div>
<% end %>