<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Set New Password</h4>
</div>

<%= form_for @user, url: update_password_mutate_user_path, remote: true, autocomplete: 'off' do |f| %>
  <div class="modal-body">
    <div>
      <%= render 'error_message', f: @user, ff: :password %>
      <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: 'new password' %>
    </div><br>

    <div>
      <%= render 'error_message', f: @user, ff: :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', placeholder: 'new password confirmation' %>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-6">
        <%= f.submit 'Update', class: 'btn btn-primary max-width' %>
      </div>

      <div class="col-xs-6">
        <%= f.submit 'Cancel', class: 'btn btn-primary max-width', 'data-dismiss': 'modal' %>
      </div>
    </div>
  </div>
<% end %>