<% form_name = :booking_time %>
<%= form_for form_name, remote: true do |f| %>
  <div>
    <%= f.text_field :room, class: 'form-control', placeholder: 'Enter partial room name (not required)' %>
  </div><br>

  <%= f.label :date, 'Booking Date:' %>
  <div class="max-width">
    <div class="day-select">
      <%= select_day Time.now, { use_two_digit_numbers: true }, { class: 'form-control', id: :"#{form_name}_date_3i", name: :"#{form_name}[date(3i)]" } %>
    </div>
    <div class="month-select">
      <%= select_month Date.today, { use_month_numbers: true }, { class: 'form-control', id: :"#{form_name}_date_2i", name: :"#{form_name}[date(2i)]" } %>
    </div>
    <div class="year-select">
      <%= select_year Date.today, { start_year: Time.now.year }, { class: 'form-control', id: :"#{form_name}_date_1i", name: :"#{form_name}[date(1i)]" } %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-lg-6">
      <%= f.label :time, 'Start Time:' %>
      <%= f.time_select :time,
                        { combined: true, default: Time.now.change(:hour => 8, :min => 0), minute_interval: 15, time_separator: '' },
                        { class: 'form-control' }
      %>
    </div>
    <div class="col-lg-6">
      <%= f.label :for, 'Length:' %>
      <div class="input-group">
        <%= f.text_field :for, placeholder: '1', class: 'form-control', 'aria-describedby': 'addon-at' %>
        <span class="input-group-addon" id="addon-at">h</span>
        <%= f.text_field :for, placeholder: '15', class: 'form-control', 'aria-describedby': 'addon-at' %>
        <span class="input-group-addon" id="addon-at">m</span>
      </div>
    </div>
  </div>
  <br>

  <%= f.button class: 'btn btn-primary max-width', 'show-target': '#room-loading-bar' do %>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
  <% end %>
<% end %>