<div id="room-id-<%= f.id %>" class="col-sm-4">
  <% booking_day = f.booking_days.find_by(day: BookingDay::DAYS[@current_time.wday]) %>
  <%= link_to new_booking_day_booking_time_path(booking_day, room_id: f.id), remote: true, class: 'complex-link' do %>
    <div class="well well-sm selectable">
      <b class="spaced-row"><%= f.name %></b><br>
      <p>Description: <%= f.description %></p>
      <p>Capacity: <%= f.capacity %></p>
    </div>
  <% end %>
</div>