<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Room Ninja</h1>
  </div>

  <%= link_to 'Find Room Now', booking_times_new_path, class: 'btn btn-primary', remote: true %>

  <div id="room-list"></div>
</div>

<%= @overlaps %>

<% @rooms.each do |room| %>
  <%= room.name %><br>
  <div style="padding-left: 25px">
    <% room.booking_days.where(day: BookingDay::DAYS[@current.wday]).each do |bday| %>
      <%= bday.day %><br>
      <div style="padding-left: 25px">
        <% bday.booking_times.each do |btimes| %>
          Begin: <%= btimes.begin %><br>
          End: <%= btimes.end %><br><br>
        <% end %>
      </div>
    <% end %>
  </div>
  <br>
<% end %><br>

<% @data['Rooms'].each do |room| %>
  <%= room['Name'] %> <br>
  <div style="padding-left: 25px">
    <% room['Days'].each do |day| %>
      <%= day['Day'] %>
      <div style="padding-left: 25px">
        <% day['Activities'].each do |activities| %>
          Start: <%= activities['Start'] %><br>
          End: <%= activities['End'] %><br>
          Activity: <%= activities['Activity'] %><br>
          Description: <%= activities['Description'] %><br>
          Type: <%= activities['Type'] %><br>
          Staff: <%= activities['Staff'] %><br>
          Dates: <%= activities['Dates'] %><br><br>
        <% end %>
      </div>
    <% end %>
  </div>

  <br>
<% end %>