<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to Room Ninja</h1>
  </div>

  <div id="content-area">
    <%= render 'buttons' %>
  </div>

  <div id="room-list"></div>

  <div>
    <% if logged_in? %>
      <h1 class="alert-info">User Bookings</h1>
      <%= render 'user_bookings' %>
    <% end %>
  </div>

  <% Room.all.each do |r| %>
    <%= r.name %>
    <% r.booking_days.each do |bd| %>
      <div style="padding-left: 25px">
        <%= bd.day %>
        <% bd.booking_times.each do |bt| %>
          <div style="padding-left: 25px">
            Begin: <%= bt.begin.to_s(:time) %>, End: <%= bt.end.to_s(:time) %><br>
          </div>
        <% end %>
      </div><br>
    <% end %>
  <% end %>
</div>