<div id="room-id-<%= @room.id %>" class="col-sm-4">
  <div class="well well-sm">
    <b class="spaced-row"><%= @room.name %></b><br><br>

    <% form_name = @booking_day.persisted? ? @booking_day : [@room, @booking_day] %>
    <%= form_for form_name, remote: true, html: { class: 'form-horizontal' } do |f| %>
      <%= f.fields_for @booking_time do |ff| %>
        <div class="form-group">
          <%= ff.label :begin, 'Begin', class: 'col-lg-3 control-label' %>
          <div class="col-lg-9">
            <%= ff.time_select :begin,
                              { combined: true, default: Time.now.change(:hour => 8, :min => 0), minute_interval: 15, time_separator: '' },
                              { class: 'form-control', 'aria-describedby': 'addon-at' } %>
          </div>
        </div>

        <div class="form-group">
          <%= ff.label :end, 'End', class: 'col-lg-3 control-label' %>
          <div class="col-lg-9">
            <%= ff.time_select :end,
                              { combined: true, default: Time.now.change(:hour => 8, :min => 0), minute_interval: 15, time_separator: '' },
                              { class: 'form-control', 'aria-describedby': 'addon-at' } %>
          </div>
        </div>
      <% end %>

      <%= f.label :date, 'Booking Date:' %>
      <div class="max-width">
        <div class="day-select">
          <%= select_day Time.now, { use_two_digit_numbers: true }, { class: 'form-control', id: :"#{form_name}_date_3i", name: :"#{form_name}[date(3i)]" } %>
        </div>
        <div class="month-select">
          <%= select_month Date.today, { use_month_numbers: true }, { class: 'form-control', id: :"#{form_name}_date_2i", name: :"#{form_name}[date(2i)]" } %>
        </div>
        <div class="year-select">
          <%= select_year Date.today, { start_year: Time.now.year }, { class: 'form-control', id: :"#{form_name}_date_1i", name: :"#{form_name}[date(1i)]" } %>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-xs-6">
          <%= f.submit 'Book', class: 'btn btn-primary max-width' %>
        </div>

        <div class="col-xs-6">
          <%= f.submit 'Cancel', class: 'btn btn-primary max-width' %>
        </div>
      </div>
    <% end %>
  </div>
</div>