<% form_name = :room %>
<%= form_for form_name, url: find_booking_days_path, remote: true do |f| %>
  <div>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Enter partial room name (not required)' %>
  </div><br>

  <%= f.label :begin, 'Booking Date:' %>
  <div class="max-width">
    <%= f.date_select :begin, { order: [:day, :month, :year] }, { class: 'form-control date-select' } %>
  </div>
  <br>

  <div class="row">
    <div class="col-lg-6">
      <%= f.label :begin, 'Start Time:' %>
      <div class="max-width">
        <%= f.time_select :begin,
                          { value: Time.now, time_separator: '', ignore_date: true },
                          { class: 'form-control time-select' }
        %>
      </div>
    </div>
    <div class="col-lg-6">
      <%= f.label :for, 'Length:' %>
      <div class="input-group">
        <%= f.text_field :for_hours, placeholder: '1', class: 'form-control', 'aria-describedby': 'addon-at' %>
        <span class="input-group-addon" id="addon-at">h</span>
        <%= f.text_field :for_minutes, placeholder: '15', class: 'form-control', 'aria-describedby': 'addon-at' %>
        <span class="input-group-addon" id="addon-at">m</span>
      </div>
    </div>
  </div>
  <br>

  <%= f.button class: 'btn btn-primary max-width', 'show-target': '#room-loading-bar' do %>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
  <% end %>
<% end %>